{% extends "main.html" %}

{% block title %}
    Base Table
{% endblock %}   

{% block body %}
<h2>Base Table</h2>

<table>
    <thead>
        <th>Name</th>
        <th>nationality</th>
        <th>Current Rank</th>
        <th>Prev Year Rank</th>
        <th>Sport</th>
        <th>Year</th>
        <th>Earnings (millions)</th>
    </thead>
    <tbody>
        {% for eachRow in al %}
        <tr>
            <td>{{eachRow['name']}}</td>
            <td>{{eachRow['nationality']}}</td>
            <td>{{eachRow['currentrank']}}</td>
            <td>{{eachRow['prevyearrank']}}</td> 
            <td>{{eachRow['sport']}}</td>
            <td>{{eachRow['year']}}</td>
            <td>{{eachRow['earnings']}}</td>

        </tr>    
        {% endfor %}
    </tbody>
</table>

{% endblock %}